<form asp action="CreatePer">
     <label>Ma Emp:</label>
    <input type="number" name="MyProperty">
    <br>
    <label>Name</label>
    <input type="number" name="MyProperty1">
    <br> 
    <label>Number</label>
    <input type="number" name="MyProperty12">
    <br>
    <input type="submit" value="Send">
</form>
<h2>@ViewBag.TT</h2>
