<form asp action="CreateEmp">
    <label>Ma Emp:</label>
    <input type="number" name="EmployeeID">
    <br>
    <label>Name</label>
    <input type="text" name="EmployeeName">
    <br> 
    <label>Number</label>
    <input type="number" name="Number">
    <br>
    <input type="submit" value="Send">
</form>
<h2>@ViewBag.TT</h2>