<form asp-action="GiaiphuongTrinh">
    <p>
        <label> He So A: </label>
        <input type="text" name="heSoa">
    </p>
    <p>
        <label> He So B: </label>
        <input type="text" name="heSob">
    </p>
    <p>
        <input class="btn btn-success" type="submit" value="tinh gia tri">
    </p>
</form>
<h2>@ViewBag.Message</h2>