<form asp-action="Create">
    <label>Ma sinh vien:</label>
    <input type="number" name="StudentID">
    <br>
    <label>Ho ten sinh vien</label>
    <input type="text" name="StudentName">
    <br> 
    <label>Tuoi:</label>
    <input type="number" name="Age" value="18">
    <br>
    <input type="submit" value="Send">
</form>
<h2>@ViewBag.TT</h2>